body {
    font-family: 'Poppins', sans-serif;
}

.destaque{
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
.destaque {
    font-size: 36px;
    color: #333;
    margin-top: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#banner {
    background-color: #3A8DFF;
    padding: 20px;
    text-align: center;
    margin: 0;
}
#home {
    display: inline-block;
    background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

#curriculo {
    display: inline-block;
    background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

#github {
    display: inline-block;
        background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

#servicos {
    display: inline-block;
    background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

#contato {
    display: inline-block;
    background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}


#cabecalho .footer_links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}

.tabela-css3 {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    max-width: 850px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.tabela-css3 thead tr {
    background-color: #0A2A66;
    color: #ffffff;
    text-align: center;
}
.tabela-css3 th,
.tabela-css3 td {
    padding: 12px 15px;
}   

.tabela-css3 tbody tr {
    border-bottom: 1px solid #dddddd;
}   
.tabela-css3 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabela-css3 tbody tr:last-of-type {
    border-bottom: 2px solid #0A2A66;
}

.objetivo {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #333;
    background-color: #f0f0f0;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.formacao {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #333;
    background-color: #f0f0f0;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.experiencia {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #333;
    background-color: #f0f0f0;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}