body {
    font-family: 'Poppins', sans-serif;
}

.destaque{
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.foto1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

a {
    text-decoration: none;
}


/* Links do cabeçalho */

#banner {
    background-color: #3A8DFF;
    padding: 20px;
    text-align: center;
}
#home {
    display: inline-block;
    background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

#curriculo {
    display: inline-block;
    background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

#github {
    display: inline-block;
        background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

#servicos {
    display: inline-block;
    background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

#contato {
    display: inline-block;
    background: #104dbe;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}


#cabecalho .footer_links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}

/* Título */

.destaque {
    font-size: 36px;
    color: #333;
    margin-top: 50px;
    text-align: center;
}
/* Sobre mim */

.sobremim-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.sobremim-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.bloco-sobremim {

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: aliceblue;
    background-image: url(../home/imagens_index/teen-titans-robin\ \(1\).gif);
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

/* Habilidades */

.habilidades {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #333;
    background-color: #f0f0f0;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.html {
    background: #3776ab;
    max-width: 800px;
    color: #0A2A66;
    background-color: #DCEEFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.css {
    max-width: 800px;
    color: #0A2A66;
    background-color: #A9D6FF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.javascript {
    max-width: 800px;
    color: #0A2A66;
    background-color: #6CB8FF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.python {
    max-width: 800px;
    color: #ffffff;
    background-color: #3A8DFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.edicao-videos {
    max-width: 800px;
    color: #ffffff;
    background-color: #1E5EFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.edicao-imagens {
    max-width: 800px;
    color: #ffffff;
    background-color: #104dbe;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.organizacao {
    color: #ffffff;
    background-color: #0A2A66;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

/*Vida Pessoal*/
.pessoal {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #333;
    background-color: #f0f0f0;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.vida-acad {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #333;
    background-color: #f0f0f0;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.ev-experiencia {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #333;
    background-color: #f0f0f0;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.ev1 {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #0A2A66;
    background-color: #DCEEFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.ev2 {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #0A2A66;
    background-color: #A9D6FF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.ev3 {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #0A2A66;
    background-color: #6CB8FF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.ev4 {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #ffffff;
    background-color: #3A8DFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.ev5 {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #ffffff;
    background-color: #1E5EFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.ev6 {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #ffffff;
    background-color: #0A2A66;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.tabela-css1 {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    max-width: 850px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.tabela-css1 thead tr {
    background-color: #0A2A66;
    color: #ffffff;
    text-align: center;
}
.tabela-css1 th,
.tabela-css1 td {
    padding: 12px 15px;
}   

.tabela-css1 tbody tr {
    border-bottom: 1px solid #dddddd;
}   
.tabela-css1 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabela-css1 tbody tr:last-of-type {
    border-bottom: 2px solid #0A2A66;
}

.fut-prof {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    color: #333;
    background-color: #f0f0f0;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}